@use "../abstracts/mixins" as *;
@use "../abstracts//functions" as *;

.content {
  display: flex;
  justify-content: space-between;
  padding: rem(100) 0 rem(110);
  gap: rem(10);

  &__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: rem(20);
  }

  &__info {
    max-width: rem(630);
    font-weight: 400;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);

    p {
      + p {
        margin-top: rem(27);
      }

      ul {
        margin-top: rem(27);
      }

      img {
        margin-top: rem(27);
      }
    }

    span {
      font-weight: 700;
    }
  }

  &__img {
    border: 0 rem(10) 0 rem(10);
    width: 100%;
    height: auto;
    max-width: rem(630);

    img {
      // display: block;
      // width: 100%;
      // height: 100%;

      // box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 25%);
      // object-fit: cover;
    }
  }
}

@include mq("lg") {
  .content {
    flex-direction: column;
  }
}
