@use "../abstracts/mixins" as *;
@use "../abstracts//functions" as *;

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: var(--z-index-2);
  display: block;
  padding: rem(28) 0 rem(22);

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    width: unset;
  }

  &__logo {
    display: block;
    width: 100%;
    max-width: rem(90);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__user {
    svg {
      width: rem(30);
      height: rem(30);
    }
  }

  &__menu {
    li {
      button {
        svg {
          width: rem(17);
          height: rem(16);
        }
      }
    }
  }
}
