<!-- modal--open - состояние открытой модалки -->
<!-- modal--close - состояние закрытой модалки -->

<div class="modal" data-modal-name="test" role="dialog" aria-modal="true" aria-hidden="true">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main">
        <button class="modal__close" aria-label="modal close" data-modal-close>
          <!-- icon close -->
        </button>

        <div class="modal__wrapper">
          <!-- modal content -->
          <button data-modal-close>close</button>
        </div>
      </div>
    </div>
  </div>
</div>
