@use "../abstracts/functions" as functions;

html {
  box-sizing: border-box;
  font-size: 20px;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--color-black);
  background: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 functions.rem(70);
  width: 100%;
  max-width: functions.rem(1440);
}

@media (max-width: 992px) {
  .container {
    padding: 0 functions.rem(30);
  }
}
