
:root {
  --font-family: 'Arial', sans-serif;
  --app-header: 100vh;

  // Z-INDEX
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --z-index-6: 6;

  // COLORS
  --color-white: #fff;
  --color-black: #000;
}
