<section class="content">
  <div class="container">
    <div class="content__inner">
      <div class="content__info">
        <p>
          <span>Палатка </span> — это больше, чем просто навес, установленный над местом для отдыха.
          В полевых условиях она превращается в убежище, которое защищает от капризов погоды и
          привносит уют в непривычную обстановку. И куда бы вас ни занес дух приключений, бренд
          <span>Naturehike</span> готов позаботиться о том, чтобы ваша палатка не омрачила
          впечатления от путешествия.
        </p>
        <p>
          Компания <span>Naturehike</span> внедряет в процесс производства своих палаток
          запатентованные технологии, чтобы приблизить уровень комфорта отдыха на природе к тому, к
          которому мы привыкли, лежа в любимой постели в родном доме. Повышенная эффективность,
          минимальный вес и длительный срок службы — все это результат тщательного подхода к
          созданию продукции, где на первом месте стоит <span>удобство пользователя</span>.
        </p>
        <p>
          Но во время выбора возникает логичный вопрос: <span>какую</span> палатку купить? Мы знаем,
          как иногда трудно определиться с выбором, поэтому создали краткий путеводитель по
          ассортименту палаток <span>Naturehike</span>.
        </p>
      </div>
      <div class="content__img">
        <img src="/img/static/content/content-photo.png" alt="фото отдыха на природе с палаткой" />
      </div>
    </div>
  </div>
</section>
