<header class="header">
  <div class="header__container container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <img src="/img/static/header/logo.svg" alt="" />
      </a>
      <nav class="header__nav">
        <div class="">
          <ul class="header__menu">
            <!-- указал тег  button по задумке при клике на иконку открывается модальное окно -->
            <li>
              <button>
                <svg>
                  <use xlink:href="/img/sprite.svg#statistics"></use>
                </svg>
              </button>
              <span>0</span>
            </li>
            <li>
              <button>
                <svg>
                  <use xlink:href="/img/sprite.svg#like"></use>
                </svg>
              </button>
              <span>0</span>
            </li>
            <li>
              <button>
                <svg>
                  <use xlink:href="/img/sprite.svg#basket"></use>
                </svg>
              </button>
              <span>0</span>
            </li>
            <li><a href="tel:+3806733434559" class="header__tel">+38 (067) 334 34 559</a></li>
          </ul>
          <div class="header__lang"><button>UA</button>|<button>RU</button></div>
          <button class="header__user">
            <svg>
              <use xlink:href="/img/sprite.svg#user"></use>
            </svg>
          </button>
        </div>
        <ul class="header__list">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
