<section class="hero">
  <div class="hero__bg">
    <img src="/img/static/hero/bg.jpg" alt=" фото палатки в лесу" />
  </div>
  <div class="hero__container container">
    <div class="hero__inner">
      <div class="hero__title">
        <h1>палатки naturehike</h1>
      </div>
      <div class="hero__subtitle">
        <h2>качество, которому можно доверять</h2>
      </div>

      <div class="hero__search">
        <input type="search" id="search" placeholder="Search" />
        <!-- <label for="search"><img src="/img/static/hero/search.svg" alt="Search" /></label> -->
      </div>
    </div>
  </div>
</section>
